* {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
}

/* box 1 */
.amazon-logo > img {
  height: 30px;
  width: 83%;
  padding: 5px 8px 0px 6px;
  margin: 1px;
}
.twoline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.border {
  border: 1px solid transparent;
  height: 50px;
}
.border:hover {
  border: 1px solid white;
}

/* box 2 */
.address-icon {
  display: flex;
}
.first {
  color: #cccccc;
  font-size: 0.75rem;
  padding-left: 14px;
}
.second {
  font-size: 0.9rem;
  padding-left: 3px;
  font-weight: bold;
}

/* box 3 */
.nav-search {
  display: flex;
  width: 730px;
  height: 40px;
  border-radius: 5px;
  justify-content: space-evenly;
  border: 2px solid transparent;
}
.nav-search:hover {
  border: 2px solid #febd68;
}
.search-select {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 52px;
  background-color: #e6e6e6;
  text-align: center;
  border: 0;
}
.search-input {
  border-radius: 0px;
  border: 0;
  width: 100%;
  font-size: 1rem;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #febd68;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #0f1111;
}

/* box 4 */
.nav-language {
  height: 50px;
  display: flex;
  align-items: center;
}
.lang-select {
  background-color: #0f1111;
  color: white;
  border: 0;
  font-weight: 800;
}

/* box 5 */
.signin {
  padding: 0;
}

/* box 6 */
.returns {
  padding: 0;
}

/* box 7 */
.nav-cart {
  display: flex;
  align-items: center;
}
.cart {
  align-self: flex-end;
  padding-bottom: 10px;
}

/* header second line */
.panel {
  display: flex;
  height: 40px;
  background-color: #232f3e;
  color: white;
  align-items: center;
  gap: 10px;
  font-size: smaller;
  padding: 0 9px 0 9px;
}
/* box 1 */
.icon-all > i {
  margin: 0 5px 0 0;
}
.icon-all {
  height: 38px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  width: 50px;
  justify-content: center;
}
.icon-all:hover {
  border: 2px solid white;
  border-radius: 2px;
}
/* box 2 */
.panel-options {
  display: flex;
}
.panel-options > * {
  padding: 0 9px 0 9px;
  border: 2px solid transparent;
  height: 38px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
.panel-options > *:hover {
  border: 2px solid white;
}

/* hero section */
.hero-section {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
      #b7f4c1 100%
    ),
    url("./assets/hero-image.jpg");
  height: 600px;
  background-size: cover;
  display: grid;
  grid-template-rows: 250px;
}
.hero-message {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  height: 40px;
  margin: 0 1.5% 0 1.5%;
  font-size: 0.85rem;
  align-self: center;
  margin-top: 180px;
}
.hero-message > p {
  margin-block-end: 0;
}
.hero-message a {
  color: #007185;
}
.hero-message a:hover {
  color: #febd68;
}
/* boxes in hero section */
.box-container {
  display: flex;
  justify-content: space-evenly;
}
.box {
  height: 390px;
  border: none;
  align-self: center;
  width: 23%;
  margin-top: 0px;
  display: grid;
  grid-template: auto 1fr 1fr auto / 1fr 1fr;
  background-color: white;
  row-gap: 5px;
}
.box h2 {
  font-size: 1.2rem;
  margin: 20px 0 0 20px;
  grid-column: span 2;
}
.box-of-4 div > img {
  width: 100%;
}
.box-of-4 p {
  font-size: 0.8rem;
  padding-left: 30px;
}
.box a {
  color: #007185;
  font-size: 0.8rem;
  text-decoration: none;
  margin: 0 0 20px 20px;
}
.box a:hover {
  color: #febd68;
}
.box-of-1 img {
  grid-area: 2 / 1 / 4 / 3;
  height: 100%;
  width: 87%;
  object-fit: cover;
  padding: 0 20px 0 20px;
}

/* box 4 */
.box4 {
  grid-template: auto 250px auto auto / 1fr 1fr;
}
.box4 img {
  grid-area: 2 / 1 / 3 / 3;
  object-fit: cover;
}
.box4 p {
  grid-column: span 2;
  padding-left: 20px;
  font-size: 0.8rem;
  line-height: 2;
}
.box4 p > .span1 {
  background-color: #cc0c39;
  color: white;
  padding: 4px;
  border-radius: 3px;
  font-weight: bold;
}
.box4 p > .span2 {
  padding-left: 3px;
  color: #cc0c39;
  font-weight: bold;
}

/* container 2 */
.container-2 {
  background-color: #b7f4c1;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container-2 > .box-of-4 {
  column-gap: 10px;
  text-align: left;
}
.container-2 > .box-of-4 > .left {
  margin-left: 20px;
}
.container-2 > .box-of-4 > .right {
  margin-right: 20px;
}
.container-2 > .box-of-4 img {
  height: 100px;
  object-fit: cover;
}
.container-2 > .box-of-4 p {
  padding-left: 0px;
}

/* footer */
/* panel 1 */
.foot-panel-1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

/* panel 2 */
.foot-panel-2 {
  background-color: #222f3d;
  color: white;
  height: 400px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 40px;
}
ul > * {
  line-height: 1.9;
  text-decoration: none;
}
ul > a {
  display: block;
  font-size: 0.85rem;
  color: #dddddd;
}
ul > a:hover {
  text-decoration: underline;
}
ul > p {
  font-weight: bold;
}

/* panel 3 */
.foot-panel-3 {
  background-color: #222f3d;
  height: 70px;
  border-top: 0.5px solid grey;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.logo > img {
  height: 30px;
  padding: 5px 8px 0px 6px;
  margin: 1px;
}

/* panel 4 */
.foot-panel-4 {
  background-color: #131a22;
}
.pages {
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  padding-top: 30px;
  padding-bottom: 10px;
  justify-content: center;
}
.copyright {
  text-align: center;
  font-size: 0.75rem;
  color: #dddddd;
  padding-bottom: 30px;
}
.pages > a {
  padding-right: 10px;
  color: #dddddd;
  text-decoration: none;
}
.pages > a:hover {
  text-decoration: underline;
}
